Repository sbt/sbt, pull requests merged in 2020-11, with the labels that each got.

#6121 Update dotty and scala versions in tests
  sbt/src/sbt-test/plugins/dotty-compiler-plugin/build.sbt
  sbt/src/sbt-test/plugins/dotty-compiler-plugin/changes/build.sbt
  sbt/src/sbt-test/plugins/dotty-compiler-plugin/project/plugins.sbt
  sbt/src/sbt-test/plugins/dotty-sandwich-sjs/build.sbt
  sbt/src/sbt-test/plugins/dotty-sandwich-sjs/project/plugins.sbt
  sbt/src/sbt-test/plugins/dotty-sandwich/build.sbt
  sbt/src/sbt-test/plugins/dotty-sandwich/project/plugins.sbt
  sbt/src/sbt-test/plugins/dotty/build.sbt
  sbt/src/sbt-test/plugins/dotty/project/plugins.sbt
Labels: area/scala3

#6129 Fix watch when metals sbt bsp is in use
  main-command/src/main/scala/sbt/internal/ui/UserThread.scala
  main/src/main/scala/sbt/Main.scala
  main/src/main/scala/sbt/MainLoop.scala
  main/src/main/scala/sbt/internal/Continuous.scala
Labels: backport candidate

#6155 Use `Global / localCacheDirectory` for remote caching
  internal/util-collection/src/main/scala/sbt/internal/util/Util.scala
  main/src/main/scala/sbt/Keys.scala
  main/src/main/scala/sbt/internal/RemoteCache.scala
  main/src/main/scala/sbt/internal/SysProp.scala
Labels: area/remote_cache

#6174 Make it possible to not write the bsp connection file
  main-command/src/main/scala/sbt/BasicKeys.scala
  main-command/src/main/scala/sbt/internal/server/Server.scala
  main/src/main/scala/sbt/Keys.scala
  main/src/main/scala/sbt/Project.scala
  main/src/main/scala/sbt/internal/CommandExchange.scala
  main/src/main/scala/sbt/internal/server/BuildServerProtocol.scala
Labels: area/server
